.title {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Monoserif", serif;
}

.subtitle {
  color: white;
  text-align: left;
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 130px;
  font-family: "Monoserif", serif;
}

.cardhandler {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 90px;
  margin-left: 80px;
}

.scroller {
  overflow-x: scroll;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.holder {
  margin-bottom: 100px;
}
